.main{
     width: 100%;
     height: 150vh;
     display: flex;
     text-align: center;
  }
  .menu{
    width: 30%;
    background-color: #09A693;

  }
  .menu a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: 12px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;

  }
  .menu a:hover{
    transition: 0.5s;
      letter-spacing: 4px;
      text-transform: uppercase;
      background: #1d5d91;
  }
  img.resize {
    width:200px;
    height:40px;
  }
  img.resize {
    max-width:50%;
    max-height:50%;
  }

  body{
    font-family:'Righteous';
  }
 
  nav{
    background: #012818;
    height: 50px;
    width: 100%;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
 
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  
 
    nav ul li a{
      font-size: 16px;
    }
  
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #68051D;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
      
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  body{
    background: #f2f2f2;
    font-family: 'Righteous';
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    width: 150px;
    border: 3px solid #26aac2;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 85px 0 0 85px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #000000;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #013535;
    background: #3d7ffa;
    text-align: center;
    color: rgb(161, 10, 10);
    border-radius: 0 85px 85px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap{
    width: 30%;
    position: absolute;
    top: 25%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .wrapper{
    width: 30%;
    position: absolute;
    top: 115%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
.now-playing{
font-size: 1.5rem;
}
.track-name{
font-size: 1.8rem;
}
.track-artist{
margin-top: 10px;
font-size: 1rem;

}
.buttons{
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 20px;
}
.active{
color: rgb(165, 165, 165);
}
.playpause-track,
.prev-track,
.next-track{
padding: 25px;
opacity: 0.8;
transition: opacity .2s;
color: #68051D;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
opacity: 1.0;
}
.slider_container{
display: flex;
justify-content: center;
align-items: center;
}
.seek_slider,
.volume_slider{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
height: 5px;
background: #00050f;
-webkit-transition: .2s;
transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 20px;
height: 15px;
background: #9c0404;
border: 3px solid #022475;
cursor: pointer;
border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
opacity: 1.0;
}
.seek_slider{
width: 100%;
}


.current-time,
.total-duration{
padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
cursor: pointer;
}
.randomActive{
color: rgb(168, 168, 168);
}
.rotate{
animation: rotation 8s infinite linear;
}
@keyframes rotation{
from{
 transform: rotate(0deg);
}
to{
 transform: rotate(359deg);
}
}
.loader{
height: 70px;
display: flex;
justify-content: center;
align-items: center;
}
.loader .stroke{
background: #3fa3f5;
height: 150%;
width: 10px;
border-radius: 50px;
margin: 0px 5px;
animation: animate 1.4s linear infinite;
}
@keyframes animate{
50%{
 height: 10%;
 background: #4286f4;
}
100%{
 height: 100%;
}
}
.stroke:nth-child(1){
animation-delay: 0s;
}
.stroke:nth-child(2){
animation-delay: 0s;
}
.stroke:nth-child(3){
animation-delay: 0s;
}
.stroke:nth-child(4){
animation-delay: 0s;
}
.stroke:nth-child(5){
animation-delay: 0s;
}
.stroke:nth-child(6){
animation-delay: 0s;
}
.stroke:nth-child(7){
animation-delay: 0s;
}
.modal-header {
  background: #057584;
  color: #fff;
}

.required:after {
  content: "*";
  color: #ffffff;
}
#create{
  color: #fff;
  background: #153851;
  border: #2bfae9;
}
#cancel{
  color: rgb(255, 253, 253);
  background: #047189;
  border: #fff;
}
.modal-footer{
  background: #f3f7f6;
  border: #211d1e;
}
.modal-body{
  background: #fdfffe;
}
#btnopen{
  background: transparent;
  color: #000000;
  border: #fff;
}

table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: -50%;
 transform: translate(-50%,-50%);
 width: 65%; 
 border-collapse: separate;
 border-spacing: 0;
 box-shadow: 0 2px 15px #fc4343b3;
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 18px 60px;
 text-align: end;
 

}
th{
 background-color: #03748C;
 color: #000000;
 font-family: 'Righteous';
 font-size: larger;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 color: #030303;
 font-size: x-small;
 background-color: #6c91f8;
 font-family: 'Righteous';
}
tr:nth-child(even){
 font-size: x-small;
 color: rgb(252, 250, 250);   
 background-color: #1f4386;
}